@model List<otello.Clases.detallepartida>
@{
    Layout = "~/Views/Master/usuario.cshtml";
    ViewBag.Title = "partidas_ganadas";
}
<br />
<br />
<br />
<br />
<h2>Perfil</h2>
<!--datos normales-->
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Partidas Ganadas</th>
            </tr>

            @foreach (var element in Model)
            {

                <tr>
                    <td>@element.est1</td>
                </tr>

            }

        </table>
    </div>
</div>
<br />
<br />
<!--Botones-->
<div>
    @Html.ActionLink("Datos Generales", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("Partidas", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("Torneos", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("No_torneos", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("No_Ganados", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("No_perdidas", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("No_perdidas", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("No_torneo Ganados", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
    @Html.ActionLink("No_torneo Pts", "Perfil", "Estadisticas", null, new { @class = "nav-link" })
</div>

