@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css_login.css" rel="stylesheet" />
    @Styles.Render("~/Icons/icon")
    @Styles.Render("~/Content/slate1")
    @Scripts.Render("/Scripts/jquery")
    @Scripts.Render("/Scripts/jqueryval")
    @Scripts.Render("/Scripts/modernizr")
    @Scripts.Render("/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <h1 style="color:white;"><center>Othello Cx</center></h1>
    <div class="login-page">
        <div class="form">
            @RenderBody()
        </div>
    </div>
   
</body>
</html>
