@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Icons/icon")
    @Styles.Render("~/Content/slate1")
    @Scripts.Render("/Scripts/jquery")
    @Scripts.Render("/Scripts/jqueryval")
    @Scripts.Render("/Scripts/modernizr")
    @Scripts.Render("/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
