
@{
    ViewBag.Title = "Menu_usuario";
    Layout = "~/Views/Master/usuario.cshtml";
}
<h1>Hoo</h1>
<p></p>
<h3>Menu othello</h3>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" style="z-index:-3;">
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">Juego Individual</div>
            <div class="card-body">

                @Html.ActionLink("Maquina", "Maquina", "Juegoindividuall", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">Jugador vs Jugador</div>
            <div class="card-body">
                @Html.ActionLink("Modo Normal", "JugadorVsMaquina", "Juegoindividuall", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Reto Inverso", "RetoInverso", "Inverso", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Apertura personalizada", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Othello Xtreme", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Torneo</div>
                <div class="card-body">
                    @Html.ActionLink("Crear", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Acceder", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Buscar", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
