
@{
    ViewBag.Title = "Menu_usuario";
    Layout = "~/Views/Master/usuario.cshtml";
}
<h1>Hoo</h1>
<p></p>
<h3>Menu othello</h3>

<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Juego Individual</div>
    <div class="card-body">

        @Html.ActionLink("Jugador", "JugadorVsMaquina", "Juegoindividuall", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Maquina", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">JCJ</div>
    <div class="card-body">

        @Html.ActionLink("Crear", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Acceder", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-header">Torneo</div>
    <div class="card-body">
        @Html.ActionLink("Crear", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Acceder", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Buscar", "Estadistica_usuario", "Usuario", null, new { @class = "btn btn-primary" })
    </div>
</div>

